In [89]:
a= "hello world"
b= 'python is fun'
c= """life is too short, you need python"""
d= '''life is too short, you need python'''

print(a)
print(b)
print(c)
print(d)

hello world
python is fun
life is too short, you need python
life is too short, you need python

In [90]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [91]:
say = '"python is very easy."he says.'
say

'"python is very easy."he says.'

In [92]:
food = 'python\'s favorite food is perl'
food

"python's favorite food is perl"

In [93]:
food = "영수가 말했다.\"나 밥 먹고 싶어\""
food

'영수가 말했다."나 밥 먹고 싶어"'

In [94]:
multiline = "life is short\nyou need python"
multiline

'life is short\nyou need python'

In [95]:
muitiline='''
life is too short
you need python
'''
print(multiline)

life is short
you need python

In [96]:
a = "하호호\t탭이되나?"
print(a)

a= "하하호호\\탭이되나?"
print(a)

하호호	탭이되나?
하하호호\탭이되나?

In [97]:
head = "python"
tail = " is fun~"
head + tail

'python is fun~'

In [98]:
a = "python"
a * 2

'pythonpython'

In [99]:
a = "cute"
a * 3

'cutecutecute'

In [100]:
print("=" * 50)

==================================================

In [101]:
print("so" * 20)

sosososososososososososososososososososo

In [102]:
a = " life is too short!"
len(a) # len은 length의 약자

19

In [110]:
a = "Life is too short, You need Python"
print(a[3])
print(a[0])
print(a[-0]) # 0과 -0은 같음

print(a[-1]) # 뒤에서부터 첫번째 문자
print(a[-2]) # 뒤에서부터 두번째 문자

e
L
L
n
o

In [111]:
a = "Life is too short, You need Python"
b = a[0] + a[1]  + a[2] + a[3]
b

'Life'

In [114]:
# 슬라이싱
a = "Life is too short, You need Python"
a[0:4] # 0~3

print(a[0:5]) # 0~4 까지
print(a[0:2]) # 0~1
print(a[0:7]) # 0~6
print(a[12:17]) # 12~16

Life
Li
Life is
short

In [118]:
a = "Life is too short, You need Python"
print(a[19:]) # 19부터 끝까지
print(a[:17]) # 시작~16
print(a[:]) # 시작~끝

You need Python
Life is too short
Life is too short, You need Python

In [119]:
a = "Life is too short, You need Python"
a[19:-7]

'You need'

In [120]:
a = '20230331rainy'
date = a[:8]
weather = a[8:]

In [121]:
date

'20230331'

In [122]:
weather

'rainy'

In [124]:
a = "20230331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]

In [125]:
year

'2023'

In [126]:
day

'0331'

In [127]:
weather

'Rainy'

In [128]:
a = "pithon"
a[1]

'i'

In [130]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [132]:
b = a[:1] + 'y' + a[2:]
b

'python'

In [133]:
"i eat %d apples" % 3 # 숫자를 넣을 경우 %d 사용하여 포맷팅

'i eat 3 apples'

In [136]:
"i eat %s apples" % "three" # 문자를 넣을 경우 %s 사용하여 포맷팅

'i eat three apples'

In [137]:
number = 3
"i eat %d apples." % number

'i eat 3 apples.'

In [139]:
number = 10
day = "three"
"i ate %d apples. so i was sick for %s day" % (number,day)

'i ate 10 apples. so i was sick for three day'

In [140]:
"error is %d%%." % 98

'error is 98%.'

In [141]:
" rate is %s" % 2.4567

' rate is 2.4567'

In [142]:
"%10s" % 'hi'

'        hi'

In [143]:
"%-10sjane" % 'hi'

'hi        jane'

In [145]:
"%.4f" % 3.42134234

'3.4213'

In [146]:
"%10.4f" % 3.42134234 # 전체길이 10개중 소수점 4자리까지

'    3.4213'

In [147]:
"%10.4f" % 2893323.42134234 # 소수점을 우선순위로 나타냄

'2893323.4213'

In [151]:
"i eat {0} apples" .format(5)

'i eat 5 apples'

In [153]:
"i eat {0} apples" .format("five")

'i eat five apples'

In [154]:
number = 10
day = "three"
"i ate {0} apples. so i was sick for {1} days".format(number,day)

'i ate 10 apples. so i was sick for three days'

In [155]:
"i ate {number} apples. so i was sick for {day} days.".format(day=3,number=10)

'i ate 10 apples. so i was sick for 3 days.'

In [156]:
"{0:<10}".format("hi") # 왼쪽 정렬 (화살표 방향대로 정렬됨)

'hi        '

In [157]:
"{0:>10}".format("hi") # 오른쪽 정렬 (화살표 방향대로 정렬됨)

'        hi'

In [158]:
"{0:^10}".format("hi") # 가운데 정렬

'    hi    '

In [159]:
"{0:=^10}".format("hi") # 공백 채우기

'====hi===='

In [160]:
y = 8.789879  # 소수점 표현하기
"{0:0.2f}".format(y)

'8.79'

In [161]:
"{{cute}}".format() # {}과 같은 중괄호를 그대로 사용하고 싶은 경우 2번 사용

'{cute}'

In [166]:
name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}살 입니다."

'나의 이름은 홍길동입니다. 나이는 30살 입니다.'

In [165]:
age = 30
f"나는 내년이면 {age + 1}살이된다."

'나는 내년이면 31살이된다.'

In [167]:
f'{"hi":<10}' # 왼쪽 정렬

'hi        '

In [168]:
f'{"hi":>10}'

'        hi'

In [169]:
f'{"hi":^10}'

'    hi    '

In [171]:
f'{"hi":!^10}'

'!!!!hi!!!!'

In [172]:
y = 2.89473839
f'{y:0.3f}'

'2.895'

In [173]:
y = 345.980222
f'{y:8.2f}'

'  345.98'

In [174]:
f'{{pretty}}'

'{pretty}'

In [175]:
# print 출력함수
# len 문자열 길이 함수
# format 
# 함수 사용 시 앞에 . 붙이기

a = "hobby" # 문자의 갯수를 세는 함수
a.count('b')

2

In [181]:
a = "python is the best choice"
print(a.find('y')) # 문자가 몇번째에 있는지 찾아줌
print(a.find('h'))

1
3

In [182]:
a = "life is too short"
a.index('t')

8

In [187]:
# 문제 1. format함수 또는 f문자열 포맷팅을 사용해 !!!python!!! 문자열 출력해보기

print(f'{"python":!^12}')
print("{0:!^12}".format("python"))

a = "python"
b = "!" * 3
print(f'{b}{a}{b}')

!!!python!!!
!!!python!!!
!!!python!!!

In [188]:
",".join('abcd')

'a,b,c,d'

In [189]:
"!".join("cute")

'c!u!t!e'

In [190]:
a = "hi"
a.upper() # 대문자로 바꾸는 함수

'HI'

In [192]:
a = "PRETTY"
a.lower() # 소문자로 바꾸는 함수

'pretty'

In [202]:
# 문제2 문자열 인덱싱 "python is good" 문자열을 string 변수에 저장하고 2번째 위치에 있는 문자 y를 출력하세요
string = "python is good" 
string[1]

'y'

In [203]:
# 문제3 문자열 슬라이싱 "python is good" 문자열을 string 변수에 저장하고 문자 good를 출력하세요
string = "python is good" 
string[10:14]

'good'

In [198]:
# 문제4 hi 문자열을 변수에 저장하고 10번 반복하여 출력하시오
a = "hi"
a * 10

'hihihihihihihihihihi'

In [201]:
# 문제5 문자열 인덱싱 - url 변수에 "www.naver.com" 주소를 저장하고 규칙에 따라 비밀번호를 만들어 pw 변수에 저장하고 출력하세요
# 비밀번호 생성 규칙 홀수자리의 위치에 있는 글자들과 마지막에 "!!" 더하여 비밀번호 생성 (단 위치값은 0부터 시작)
a = "www.naver.com"
pw = a[1] + a[3] + a[5] + a[7] + a[9] + a[11] + "!!"
pw

'w.ae.o!!'

In [206]:
a = "  hi  "
a.lstrip() # left 공백지우기

'hi  '

In [207]:
a = "  hi  "
a.rstrip() # right 공백지우기

'  hi'

In [208]:
a = "  hi  "
a.strip() # 양쪽 공백지우기

'hi'

In [209]:
a = "life is too short"
a.replace("life","your hair") # 문자열 바꾸기 함수

'your hair is too short'

In [210]:
# 문제6 아래의 전화번호에서 대쉬 ('-') 제거 후 출력
phone_number = "010-1111-2222"
phone_number.replace("-","")

'01011112222'

In [211]:
# 문제7 아래 문자열에서 소문자 'a'를 대문자 'A'로  변경하세요.
string = "abcdef2a3454a53a"
string.replace("a","A")

'Abcdef2A3454A53A'

In [212]:
a = "life is too short"
a.split() # 문자열 나누기

['life', 'is', 'too', 'short']

In [213]:
b = "a!b!c!d"
b.split("!")

['a', 'b', 'c', 'd']

In [214]:
b = "a!b!c!d"
b.split("a")

['', '!b!c!d']

In [218]:
a = "hi"
a.upper()
a = a.upper()
a

'HI'