In [1]:
# 리스트 : 순서, 중복, 수정, 삭제 가능 → []
# 튜플 :수정, 삭제 불가능 / 순서, 중복 가능 → ()
# 딕셔너리 : 순서, 중복 없음 / 수정, 삭제 가능 → {}
# 집합 : 순서, 중복 불가능 / 추가, 삭제 가능 → ()
# 리스트 상세설명

In [2]:
odd = [1,3,5,7,9]
odd

[1, 3, 5, 7, 9]

In [5]:
a = [] # 빈리스트
b = [1,2,3] # 숫자형만 가진 리스트
c = ['life','is','too','short'] # 문자열만 가진 리스트
d = [1,2,'life','short'] # 숫자 + 문자 모두 가진 리스트
e = [1,2,['life','is']] # 리스트 안의 또 다른 리스트를 가진 리스트

print(b)
print(e)

[1, 2, 3]
[1, 2, ['life', 'is']]

In [6]:
# 리스트 인덱싱
a = [1,2,3]
a

[1, 2, 3]

In [7]:
a[0]

1

In [8]:
a[2]

3

In [9]:
a[0] + a[2] # 1+3

4

In [10]:
a[-1]

3

In [11]:
a = [1, 2, 3, ['a', 'b', 'c']]
a[3]

['a', 'b', 'c']

In [12]:
print(a[0])
print(a[3]) # 리스트안의 리스트는 하나로 묶여있음.

1
['a', 'b', 'c']

In [16]:
# 리스트안의 리스트에서 하나만 꺼내는 방법
print(a[3][0]) # 리스트안의 리스트에 있는 a 출력하기
print(a[-1][2])

a
c

In [18]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a

[1, 2, ['a', 'b', ['Life', 'is']]]

In [20]:
a[2][2][0] # 3중 리스트에서 life만 출력하기

'Life'

In [21]:
a = [1,2,3,4,5]
a[0:2] # 인덱스 번호 0~1

[1, 2]

In [22]:
a[3:] # 3부터 끝까지

[4, 5]

In [23]:
a = "12345"
a[2:]

'345'

In [26]:
a = [1, 2, 3, 4, 5]
b = a[0:2]
c = a[3:]
print(b)
print(c)

[1, 2]
[4, 5]

In [27]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[1:]

[2, 3, ['a', 'b', 'c'], 4, 5]

In [28]:
print(a[2:5])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [29]:
a = [1,2,3]
b = [4,5,6]
a+b # 리스트 더하기 (문자열 그대로 더해짐)

[1, 2, 3, 4, 5, 6]

In [30]:
a = [5,6,8]
b = [9,2,5]
a+b

[5, 6, 8, 9, 2, 5]

In [31]:
# 문제1 a = [1,2,3,4,5] 리스트에서 슬라이싱 기법을 사용하여 리스트 [2,3] 출력하기
a  = [1,2,3,4,5]
a[1:3]

[2, 3]

In [32]:
# 리스트 반복하기
a  = [1, 2, 3]
a * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [36]:
a = [3,3,3,4,4,5,6,4,3,2]
len(a) # 리스트 길이 구하기

10

In [37]:
a[2] + "hi" # 숫자와 문자를 더할경우 에러 발생으로 숫자를 문자열로 변경해야함.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
str(a[2]) + "hi" # str은 정수나 실수를 문자열로 바꿔주는 함수이다.

'3hi'

In [39]:
# 리스트 값 수정하기
a = [1, 2, 3]
a[0] = 5
a

[5, 2, 3]

In [40]:
# del 함수를 사용하여 지정 값 삭제하기
a = [1,2,3,6,8]
del a[3:]
a

[1, 2, 3]

In [42]:
# append 리스트에 요소 추가하는 함수
a = [1, 2, 3]
a.append([5,7,8])
a

[1, 2, 3, [5, 7, 8]]

In [43]:
a.append(7)

In [44]:
a

[1, 2, 3, [5, 7, 8], 7]

In [45]:
del a[3]
a

[1, 2, 3, 7]

In [46]:
# 리스트의 요소를 순서대로 정렬해주는 함수 sort
a = [6,2,5,4,8,6,]
a.sort()
a

[2, 4, 5, 6, 6, 8]

In [48]:
a = ['c','f','b','r','t','y','w','a']
a.sort()
a # 숫자뿐만 아니라 알파벳 순서 정렬도 ok

['a', 'b', 'c', 'f', 'r', 't', 'w', 'y']

In [49]:
# 리스트 뒤집기 함수 reverse
a = [1,4,5,8,9,]
a.reverse()
a

[9, 8, 5, 4, 1]

In [53]:
a = ['고','은','이','안','녕']
a.reverse()
a

['녕', '안', '이', '은', '고']

In [54]:
a = ['gh','yt','iu','kj']
a.reverse()
a

['kj', 'iu', 'yt', 'gh']

In [55]:
a = ['gh','yt','iu','kj']
a.sort()
a

['gh', 'iu', 'kj', 'yt']

In [57]:
# index x 값의 위치를 찾아줌.
a = [5,7,8,9,2,4,1]
a.index(4)

5

In [59]:
a.index(3) # 없는 값을 입력 시 에러발생

ValueError: 3 is not in list

In [61]:
# 삽입하기 함수. a번째 자리에 b를 삽입 할 수 있음.
a = [1,3,5,6,7,9]
a.insert(2,7)
a

[1, 3, 7, 5, 6, 7, 9]

In [64]:
# 리스트에서 선택된 값을 삭제하는 함수. 중복될 경우 첫번째 값만 삭제됨.
a = [1, 2, 3, 1, 2, 3]
a.remove(2)
a

[1, 3, 1, 2, 3]

In [65]:
a = [2,6,8,9,4,5]
a.remove(8)
a

[2, 6, 9, 4, 5]

In [66]:
# 리스트 요소 끄집어 내기 pop 함수 , 지정된 요소를 리턴하고 그 요소만 삭제됨 (() 빈칸 시 마지막 요소 삭제됨)
a = [3,6,8,9,5,1]
a.pop()
a

[3, 6, 8, 9, 5]

In [67]:
a.pop(0)
a

[6, 8, 9, 5]

In [70]:
# 리스트에 포함된 요소 x의 개수 세기 count 함수
a = [3,3,4,5,5,4,3,3]
print(a.count(3))
print(a.count(4))

4
2

In [71]:
# 리스트 확장 하기 extend 함수. extend(x)에서 x는 리스트만 올 수 있음. (즉 리스트 + 리스트)
a = [3,6,6,7]
a.extend([6,6,6])
a

[3, 6, 6, 7, 6, 6, 6]

In [72]:
b = [9,9,9]
a.extend(b)
a

[3, 6, 6, 7, 6, 6, 6, 9, 9, 9]

In [73]:
# 문제2 "아이언맨", "헐크", "스파이더맨" 3명의 학생으로 구성된 리스트를 만들고 한명씩 출력하세요.
a = ["아이언맨", "헐크", "스파이더맨"]
print(a[0])
print(a[1])
print(a[2])

아이언맨
헐크
스파이더맨

In [96]:
# 문제3
a = ["아이언맨", "헐크", "스파이더맨"]
a.append(["타노스","앤트맨"])
a

['아이언맨', '헐크', '스파이더맨', ['타노스', '앤트맨']]

In [97]:
# 문제4
a = ['아이언맨', '헐크', '스파이더맨', ['타노스', '앤트맨']]
a[3][0] = "다노스"
a

['아이언맨', '헐크', '스파이더맨', ['다노스', '앤트맨']]

In [98]:
# 문제5
a = ['아이언맨', '헐크', '스파이더맨', ['다노스', '앤트맨']]
a[1]

'헐크'

In [99]:
# 문제6
a = ['아이언맨', '헐크', '스파이더맨', ['다노스', '앤트맨']]
a[2:5]

['스파이더맨', ['다노스', '앤트맨']]

In [101]:
# 문제7
a = ['아이언맨', '헐크', '스파이더맨', ['다노스', '앤트맨']]
del a[1]
a

['아이언맨', '스파이더맨', ['다노스', '앤트맨']]

In [104]:
# 문제8
a =['아이언맨','스파이더맨','다노스', '앤트맨']
a.sort()
a

['다노스', '스파이더맨', '아이언맨', '앤트맨']