In [7]:
# 튜플 자료형
t1 = ()         # 빈 튜플
t2 = (1,)       # 1 원소를 가진 튜플
t3 = (1,2,3)    # 1,2,3 원소를 가진 튜플
t4 = 1,2,3      # 1,2,3 원소를 가진 튜플
t5 = ('a','b',('ab','cd'))   # 튜플 안의 또 다른 튜플을 가진 튜플
t6 = tuple("1,2,3")   # 1,2,3 원소를 가진 튜플 / 튜플 함수는 문자열이나 리스트 형태만 출력 가능
t7 = (1) # 1개는 숫자 혹은 문자형으로 표시

In [2]:
print(t2)
print(t4)

(1,)
(1, 2, 3)

In [11]:
# 변수의 형태를 볼 수 있는 타입의 함수
a = 1
b = "1"
c = [1]
d = (1,)
e = (1)
f = 1,3,4 # 튜플 소괄호 생략가능

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [12]:
# 튜플 요소값 삭제 시 에러가 발생하는 경우
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [13]:
# 튜플 요소값 변경 시 에러 발생하는 경우
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [15]:
t1 = [1, 2, 'a', 'b'] # 대괄호로 변경 시 에러안남
t1[0] = 'c'
t1

['c', 2, 'a', 'b']

In [16]:
# 튜플 인덱싱
t1 = (1,2,'a','b')
t1[0]

1

In [17]:
t1[3]

'b'

In [18]:
# 튜플 슬라이싱
t1 = (1,2,'a','b')
t1[1:]

(2, 'a', 'b')

In [19]:
# 튜플 더하기
t1 = (1, 2, 'a', 'b')
t2 = 6,8
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 6, 8)

In [20]:
# 튜플 곱하기
t2 = 6,5
t3 = t2 * 3
t3

(6, 5, 6, 5, 6, 5)

In [21]:
# 튜플 길이 구하기
t1 = (1, 2, 'a', 'b')
len(t1)

4

In [24]:
# 문제1
my_variable = ()
my_variable

()

In [26]:
# 문제2
t2 = (10,)
t2

(10,)

In [28]:
# 문제3
t = 1,2,3,4
type(t)

tuple

In [52]:
# 문제4
t = ('A','b','c')
t = list(t)
t[0] = 'a'
t = tuple(t)
t

('a', 'b', 'c')

In [34]:
# 문제5
interest = ('삼성전자', 'LG전자', 'SK Hynix')
a = list(interest)
a

['삼성전자', 'LG전자', 'SK Hynix']

In [36]:
# 문제6
interest = ['삼성전자', 'LG전자', 'SK Hynix']
a = tuple(interest)
a

('삼성전자', 'LG전자', 'SK Hynix')

In [53]:
# 튜플 추가하기
t1 = 2,3
t2 = 6,0
t3 = t1 + t2
t3

(2, 3, 6, 0)