In [ ]:
# 이전 학습 복습 내용
# [] 리스트 : 추가,수정,삭제,순서,중복 가능
# () 튜플 : 순서,중복 가능 / 추가,수정,삭제 불가능
# {} 딕셔너리 : 추가,수정,삭제 가능 / 순서,중복 불가능

In [4]:
# 집합 자료형 (set) → 중복 허용 x / 순서가 없음.
s1 = set([1,2,3])
s1

{1, 2, 3}

In [2]:
s2 = set("goeun")
s2

{'e', 'g', 'n', 'o', 'u'}

In [7]:
s3 = set((6,2,4))
s3

{2, 4, 6}

In [8]:
s1 = {1,2,3,3,4} # 괄호에 따라 중복 출력 여부가 결정됨.
s2 = (1,2,3,3,4)
print(s1)
print(s2)

{1, 2, 3, 4}
(1, 2, 3, 3, 4)

In [10]:
print(s1[0]) # 집합이라 한가지 요소만 출력이 안됨.

TypeError: 'set' object is not subscriptable

In [11]:
print(s2[0]) # 리스트

1

In [13]:
l1 = list(s1) # 집합인 경우 리스트나 튜플로 변환 시 출력가능
l1

[1, 2, 3, 4]

In [14]:
# 교집합 구하기 & 혹은  intersection 함수 사용.
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s1 & s2

{4, 5, 6}

In [15]:
s1.intersection(s2) # 위 아래 모두 동일값이 나온다.

{4, 5, 6}

In [17]:
# 합집합 구하기 | 혹은 union 함수 사용
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
s1.union(s2) # 동일값이 나온다

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [22]:
# 차집합 구하기 -(빼기) 혹은 difference 함수 사용
print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [27]:
# 집합 자료형 관련 함수
# 1.add 함수 (유사함수 : append,insert)
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [29]:
# 여러개 추가하기 update 함수
s1.update([3,8,9])
s1 # 중복을 허용하지않으므로 3은 1개만 출력됨.

{1, 2, 3, 4, 8, 9}

In [30]:
# 특정 값 제거하는 remove 함수
s1.remove(8)
s1

{1, 2, 3, 4, 9}

In [48]:
# 문제1 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 적어보기.
a = 13
# a % 2 나머지가 0인것은 짝수이고 나머지가 1인것은 홀수
a = a % 2
a

1

In [52]:
# 문제2 주민번호 뒷 자리 맨 첫번째 숫자가 성별을 나타낸다. 주민번호에서 성별을 나타내는 숫자 출력하기.
# ex) 880211-1345211
number ="880211-1345211"
number[7]

'1'

In [47]:
# 문제3 a리스트에서 중복 숫자를 제거해 보자
# 첫번째 코드 a리스트를 집합 자료형으로 변환하는 코드를 작성
# 두번째 코드 집합 자료형을 리스트 자료형으로 다시 변환하는 코드를 작성

a = [1,1,1,2,2,3,3,3,4,4,5]
a = set(a)
a = list(a)
a

[1, 2, 3, 4, 5]